---
import Section from '../Section.astro';
---

<Section>
  <footer>
    Code with ❤️ by <a href="https://github.com/camjasaez" target="_blank"
      >@camjasaez</a
    >
  </footer>
</Section>

<style>
  footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
  }
</style>
